[Desktop Entry]
Version=1.0
Name=Restart / Reboot to Windows
GenericName=Restart to Windows
Comment=Restart to Windows
Type=Application
Terminal=true
Exec=/home/michael/windows.sh
Icon=system-reboot
Keywords=restart;reboot;